In [2]:
a = [4, 5, 6, 7]

In [3]:
for x in a:
    print(x+2)

6
7
8
9

In [4]:
b = []
for x in a:
    b.append(x+2)

In [5]:
print(b)

[6, 7, 8, 9]

In [6]:
print(a)

[4, 5, 6, 7]

In [7]:
# [ st loop/loops <condition> ]
c = [x+2 for x in a]

In [8]:
print(c)

[6, 7, 8, 9]

In [9]:
import time
t1 = time.time()
b = []
for x in range(100000):
    b.append(x*2)
print time.time()-t1

0.0629999637604

In [10]:
t1 = time.time()
c = [x*2 for x in range(100000)]
print time.time()-t1

0.0320000648499

In [11]:
print(a)
b = [x+2 for x in a]
print(b)

[4, 5, 6, 7]
[6, 7, 8, 9]

In [12]:
a = [4, 5, 7, 9, 10, 12, 6, 17, 19, 22, 24, 25]

In [13]:
b = [x for x in a if not x%2]

In [14]:
print(b)
c = []
for x in a:
    if not x%2:
        c.append(x)
        
print(c)

[4, 10, 12, 6, 22, 24]
[4, 10, 12, 6, 22, 24]

In [15]:
# ternary operator
# <true st> if condition else <false statement>
print 5*2 if 5>3 else 3*2

10

In [16]:
print 5*2 if 5<3 else 3*2

6

In [17]:
i = -5
res = "positive" if i<0 else "negative"
print(res)

positive

In [19]:
# a = [4, 5, 6, 7, 2, 3, 10, 13, 15, 19, 21, 16, 12, 55, 54, 52, 56]
# form a output list from above list by using below conditions
# 1. ignore the multiples of 3
# 2. square the even numbers
# 3. cube the odd numbers
# [64, 125, 7**3, 4.......]

In [26]:
for x in range(1, 4):
    print x
    for y in range(5, 7):
        print y

1
5
6
2
5
6
3
5
6

In [21]:
a = [[1,2,4], [2,3,5], [3, 4,5]]

In [23]:
print [(x,y) for x in range(1,5) for y in range(5, 7)]

[(1, 5), (1, 6), (2, 5), (2, 6), (3, 5), (3, 6), (4, 5), (4, 6)]

In [24]:
print(a)

[[1, 2, 4], [2, 3, 5], [3, 4, 5]]

In [27]:
print [y for x in a for y in x]

[1, 2, 4, 2, 3, 5, 3, 4, 5]

In [29]:
for x in a:
    print x
    for y in x:
        print y

[1, 2, 4]
1
2
4
[2, 3, 5]
2
3
5
[3, 4, 5]
3
4
5